version: '3.8'

services:
  # Frontend Application (React + Nginx)
  app:
    build:
      context: .
      dockerfile: Dockerfile.txt
    image: it-asset-360:latest
    container_name: it-asset-360-app
    restart: unless-stopped
    ports:
      - "8083:80"
    environment:
      # URL da API Backend
      - REACT_APP_API_URL=http://localhost:5000/api
      
      # Configuração do SQL Server Externo (Para uso do Backend)
      - DB_SERVER=10.10.10.100  # IP ou Host do Servidor SQL na rede
      - DB_PORT=1433
      - DB_DATABASE=ITAsset360
      - DB_USER=sa
      - DB_PASSWORD=#41nhAsa#@@2
    networks:
      - it-asset-net

networks:
  it-asset-net:
    driver: bridge